.home-welcome {
    height: 50vh;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
}

.home-welcome h1 {
    font-size: 3rem;
    color: var(--white);
}

.home-welcome h3 {
    font-size: 1.5rem;
    color: var(--white);
}

.home-carousel-title {
    color: var(--white);
    backdrop-filter: brightness(20%);
    width: 100%;
    margin-bottom: 50px !important;
    padding: 20px;
    font-size: 1.2rem;
}

.card-home {
    margin: 10px auto !important;
}

.ant-card-actions {
    transition: .2s;
}

.card-href span {
    font-size: 1.2rem;
    color: var(--gray);
}

.site-calendar-demo-card {
    margin-bottom: 30px !important;
}